/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgb(255, 255, 230);
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
}

ol {
  border-left: 8px solid rgb(182, 179, 179);
  padding-left: 16px;
}

.answer {
  background-color: rgb(255, 255, 191);
}

.link {
  text-decoration: none;
  color: rgb(58, 51, 255);
}

.input {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.btn {
  background-color: rgb(46, 46, 255);
  padding: 5px 35px;
  border-radius: 5px;
  color: rgb(255, 247, 247);
  font-weight: bold;
  letter-spacing: 2px;
}
